<?xml version='1.0' encoding='utf-8'?>
<widget id="com.game.fang" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Silver_Fang</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="language.html" />
    <plugin name="cordova-plugin-whitelist" version="1" />
    <access origin="*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
<Splash  src = "res/drawable/landscape.png"  Density = "Land- hdpi " /> 
    <Splash  src = "res/drawable/landscape.png"  Density = "Land-ldpi" /> 
    <Splash  src = "res/drawable/landscape.png"  Density = "Land-mdpi" /> 
    <Splash  src = "res/drawable/landscape.png"  Density = "Land-xhdpi" /> 

    <Splash  src = "res/drawable/portrait.png"  Density = "Port-hdpi" /> 
    <Splash  src = "res/drawable/portrait.png"  Density = "Port-ldpi" /> 
    <Splash  src = "res/drawable/portrait.png"  Density = "Port-mdpi" /> 
    <Splash  src = "res/drawable/portrait.png"  Density = "Port-xhdpi" />

    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
